<div class="navbar" >

    <div>
    <div class="subnav">
        <button class="subnavbtn">Vehicles  <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <div>

                <div class="grid">
                    <div class="col-12 md:col-1 lg:col-1 pzero"></div>
                    <div class="col-12 md:col-2 lg:col-2">
                        <p class="submission-text">Submission</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Ad explicabo dolorem neque hic eius vero saepe error! Itaque, aliquid libero?
                        </p>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                       
                        <p class="submission-text">Consultants</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                           
                        </p>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                       
                        <p class="submission-text">Recruiters</p>
                        <p>
                            explicabo dolorem neque hic eius vero saepe error! Itaque, 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">                        
                        <p class="submission-text">Vendors</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            explicabo dolorem neque hic eius vero saepe error! Itaque, 
                        </p>
                    </div>

                    <div class="col-12 md:col-2 lg:col-2">
                       
                        <p class="submission-text">Emails</p>
                        <p>
                            explicabo dolorem neque hic eius vero saepe error! Itaque, 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>

                    <div class="col-12 md:col-1 lg:col-1"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Energy  <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <div class="grid">
                <div class="col-12 md:col-1 lg:col-1 pzero"></div>
                <div class="col-12 md:col-2 lg:col-2">
                    <p class="submission-text">Submission</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Ad explicabo dolorem neque hic eius vero saepe error! Itaque, aliquid libero?
                    </p>
                </div>
                <div class="col-12 md:col-2 lg:col-2">
                   
                    <p class="submission-text">Consultants</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                       
                    </p>
                </div>
                <div class="col-12 md:col-2 lg:col-2">
                   
                    <p class="submission-text">Recruiters</p>
                    <p>
                        explicabo dolorem neque hic eius vero saepe error! Itaque, 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="col-12 md:col-2 lg:col-2">                        
                    <p class="submission-text">Vendors</p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        explicabo dolorem neque hic eius vero saepe error! Itaque, 
                    </p>
                </div>

                <div class="col-12 md:col-2 lg:col-2">
                   
                    <p class="submission-text">Emails</p>
                    <p>
                        explicabo dolorem neque hic eius vero saepe error! Itaque, 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>

                <div class="col-12 md:col-1 lg:col-1"></div>
            </div>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn">Charging <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsaLorem ipsum dolor sit, amet
                consectetur adipisicing elit. Animi recusandae praesentium reprehenderit doloribus! Sequi
                inventore, vitae iure, dolorem ullam iste, animi atque perspiciatis libero illo sapiente numquam
                nihil ipsam ipsaLorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae
                praesentium reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi
                atque perspiciatis libero illo sapiente numquam nihil ipsam ipsa
            </div>
        </div>
    </div>

    <div class="subnav">
        <button class="subnavbtn">Discover <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <div> lcksdlckndlicn ;djcsd clidncd lbdlckdLorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsaLorem ipsum dolor sit, amet
                consectetur adipisicing elit. Animi recusandae praesentium reprehenderit doloribus! Sequi
                inventore, vitae iure, dolorem ullam iste, animi atque perspiciatis libero illo sapiente numquam
                nihil ipsam ipsaLorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae
                praesentium reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi
                atque perspiciatis libero illo sapiente numquam nihil ipsam ipsa
            </div>
        </div>
    </div> 


    <div class="subnav">
        <button class="subnavbtn">Shop <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <div>Lorem  lcksdlckndlicn ;djcsd clidncd lbdlckdipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsaLorem ipsum dolor sit, amet
                consectetur adipisicing elit. Animi recusandae praesentium reprehenderit doloribus! Sequi
                inventore, vitae iure, dolorem ullam iste, animi atque perspiciatis libero illo sapiente numquam
                nihil ipsam ipsaLorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae
                praesentium reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi
                atque perspiciatis libero illo sapiente numquam nihil ipsam ipsa
            </div>
        </div>
    </div> 
    <div class="subnav">
        <button class="subnavbtn">We Robot <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <div>L sd'pfkzgv 63464orem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsa
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae praesentium
                reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi atque
                perspiciatis libero illo sapiente numquam nihil ipsam ipsaLorem ipsum dolor sit, amet
                consectetur adipisicing elit. Animi recusandae praesentium reprehenderit doloribus! Sequi
                inventore, vitae iure, dolorem ullam iste, animi atque perspiciatis libero illo sapiente numquam
                nihil ipsam ipsaLorem ipsum dolor sit, amet consectetur adipisicing elit. Animi recusandae
                praesentium reprehenderit doloribus! Sequi inventore, vitae iure, dolorem ullam iste, animi
                atque perspiciatis libero illo sapiente numquam nihil ipsam ipsa
            </div>
        </div>
    </div> 
</div>
</div>


