<div class="flex-container position-top">
    <div class="sub-flex-container" [ngClass]="{'active': selectedMenu === '/submissions/list'}">
        <p class="submission-text-2" ><a (click)="onClickMenu('/submissions/list')">Submission</a> </p>
    </div>
    <div [ngClass]="{'active': selectedMenu === '/consultants/list'}">
        <p class="submission-text-2"  ><a (click)="onClickMenu('/consultants/list')">Consultants </a></p>
    </div>
    <div>
        <p class="submission-text-2"  [ngClass]="{'active': selectedMenu === '/recruiters/list'}"><a (click)="onClickMenu('/recruiters/list')">Recruiters</a></p>
    </div>
    <div>
        <p class="submission-text-2"  [ngClass]="{'active': selectedMenu === '/vendors/list'}"> <a (click)="onClickMenu('/vendors/list')">Vendor</a></p>
    </div>
    <div>
        <p class="submission-text-2"  [ngClass]="{'active': selectedMenu === '/email/list'}"><a (click)="onClickMenu('/email/list')">Emails</a></p>
    </div>
</div>

<div class="card flex justify-content-center">
    <!-- <p-button (onClick)="op.toggle($event)" icon="pi pi-share-alt" label="Share" /> -->
    <p-overlayPanel #op>
        <div class="flex flex-column gap-3 w-25rem">
            <div>
                <span class="font-medium text-900 block mb-2">Share this document</span>
                <!-- <p-inputGroup>
                    <input pInputText value="https://primeng.org/12323ff26t2g243g423g234gg52hy25XADXAG3" readonly class="w-25rem" />
                </p-inputGroup> -->
            </div>
            <div>
                <span class="font-medium text-900 block mb-2">Invite Member</span>
                <div class="flex">
                    <!-- <p-chips disabled /> -->
                    <p-button label="Invite" icon="pi pi-users" />
                </div>
            </div>
            <div>
                <span class="font-medium text-900 block mb-2">Team Members</span>
                <ul class="list-none p-0 m-0 flex flex-column gap-3">
                </ul>
            </div>
        </div>
    </p-overlayPanel>
</div>