<div class="grid">


    <div class="col-12 md:col-12 lg:col-12 ">
        <app-card [groupByValues]="groupByValues" (selectedDateRange)="selectedDateRange($event)"
            (onClickAdd)="addNew()" (onClickExport)="downloadExcel()" (onClickImport)="onClickImport()"
            (resetFilters)="resetFilters()">
        </app-card>
    </div>
</div>

<p-dialog header="Notes" [modal]="true" [(visible)]="showNotes" class="submission submission-notes">
    <textarea rows="10" pInputTextarea [(ngModel)]="notes" class="my-3">
    </textarea>
    <div class="text-right">
        <app-button [label]="'Update'" [rounded]="false" severity="primary" (click)="updateSubmission('notes')" />
    </div>
</p-dialog>

<p-dialog header="Notes" [modal]="true" [(visible)]="showImportDialog" class="submission submission-notes">
    <app-upload (fileUploaded)="onUploadImportData($event)"></app-upload>
</p-dialog>

<p-dialog header="Update Submission Status" [modal]="true" [(visible)]="showSubmissionUpdate">
    <div class="session-update-popup">
        <div class="col-12 md:col-12 lg:col-12">
            <app-dropdown [dropDownValues]="toUpdateStatusValues"
                (selectedValueEmitter)="onSelectUpdateValues($event)"></app-dropdown>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <div *ngIf="updateValuesList.indexOf(selectedUpdateVal) > -1">
                <app-button [label]="'Scheduled'" [rounded]="true"
                    severity="{{subStatus === 'sceduled' ? 'primary' : 'secondary'}}" class="mr-2  "
                    (click)="selectSubStatus('scheduled')" />
                <app-button [label]="'Awaiting'" [rounded]="true"
                    severity="{{subStatus === 'awaiting' ? 'primary' : 'secondary'}}" class="mr-2 "
                    (click)="selectSubStatus('awaiting')" />
                <app-button [label]="'Passed'" [rounded]="true"
                    severity="{{subStatus === 'passed' ? 'primary' : 'secondary'}}" class="mr-2 "
                    (click)="selectSubStatus('passed')" />
                <app-button [label]="'Failed'" [rounded]="true"
                    severity="{{subStatus === 'failed' ? 'primary' : 'secondary'}}" class="mr-2 "
                    (click)="selectSubStatus('failed')" />
            </div>
        </div>

        <div>
            <textarea class="notes-submission-textarea" rows="8">

            </textarea>
        </div>
    </div>
    <div class="">
        <app-button [label]="'Update'" [rounded]="false" severity="primary" (click)="updateSubmission('status')"
            class="submission--update-btn" />
    </div>
</p-dialog>

<p-dialog header="Create Submission" [modal]="true" [(visible)]="showAddSubmisson" class="submission-dialog">
    <div class="add-submission">
        <app-create-submission (selectedActionEmitter)="onSubmitForm()"></app-create-submission>
    </div>
</p-dialog>

<p-dialog header="Create {{subModalName}}" [modal]="true" [(visible)]="showAddConsultantOrVendor"
    class="submission-dialog sub-dialog">
    <div class="add-submission">
        <app-create-consultant *ngIf="subModalName === 'Consultant'"></app-create-consultant>
        <app-create-vendor *ngIf="subModalName === 'Vendor'"></app-create-vendor>
    </div>
</p-dialog>
<app-spinner [isLoading]="isLoading"></app-spinner>
<div class="grid">
    <div class="col-12 md:col-{{tableWidthProp}} lg:col-{{tableWidthProp}}">
        <app-table [columns]="columns" [data]="data" [rows]="rows" (selectedActionEmitter)="onSelectAction($event)"
            [groupBy]="groupBy" [table]="'submission'" [pageType]="'submission'" [groupByValues]="groupByValues"
            [statusTimeLine]="statusTimeLine" [tableWidth]="tableWidth" [submissionsCount]="submissionsCount"
            (onGlobalSearch)="onGlobalSearch($event)"></app-table>

    </div>
    <div class="col-12 md:col-{{timeLineWidthProp}} lg:col-{{timeLineWidthProp}} pzero timeline-div"
        [ngClass]="{'hideProp': timeLineWidthProp === 0, 'showProp': timeLineWidthProp != 0}">
        <i class="pi pi-times timeLineClose" (click)="onCloseTimeLine()"></i>
        <div class="timeline-bgm">
            <app-timeline></app-timeline>
        </div>
    </div>
</div>
