<p>add-actions works!</p>
<!-- 
<div class="mobile-device">
    <div class="call-us-btn">
            <button>
              <span><i class="fas fa-phone-alt"></i></span> Call Us
            </button>
            <ul>
              <li>
                <a href="tel:+1551-230-2301" class="pr-3">
                  (555)-245-2101
                </a>
              </li>
              <li>
                <a
                  href="tel:+1844-908-0066"
                  >(555)-145-2501</a
                >
                (Toll Free)
              </li>
            </ul>
          </div>
  </div>

  <script>
  $(document).ready(function(){
  
  $(window).click(function () {
    $('.call-us-btn').removeClass('open');
    console.log("testing");
});
// call us button
$('.call-us-btn').click(function (e) {
    e.stopPropagation();
    $('.call-us-btn').addClass('open');
});
});
  </script> -->