body{
  padding: 0px;
  margin: 0px;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  transition: all 0.5s ease;
}
.sidebar {
  transition: all 2s ease;
  top: 80;
}
.min-home-section {
  width: calc(100% - 240px);
  left: 240px;
}

.exp-home-section {
  width: calc(100% - 1px);
  left: 1px;
}
.bg-white{
  background-color: #f5f5f5 !important;
}
.layout-topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  // height: 4rem;
  transition: width var(--transition-duration);
  display: flex;
  box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.home-content {
  padding: 2rem;
}
.home-content .position-top {
  padding-top: 4.5em;
  padding-bottom: 1em;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 1px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 1px);
    left: 1px;
  }
  .sidebar.active ~ .home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 1px);
    left: 1px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 700px) {
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 1px;
  }
  .home-section {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section {
    left: 10px;
    width: calc(100% - 1px);
  }
  .home-section nav {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav {
    left: 0px;
    width: calc(100% - 1px);
  }
}
