
.container {
    
    height: 90vh;
    border-radius: 15px;
    display: flex;
  }
  
  .right {
    margin: auto;
    width: 30%;
    border-radius: 15px;
    background-color: #91949900;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.241);
  
  }
  
  
  .login-box {
    width: 100%;
  }
  .login-title{
    display: flex;
    justify-content: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .input-box {
    margin-bottom: 15px;
  }
  
  .input-box label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ;
  }
  
  button:hover {
    background-color: #007BFF;
  }
  

  .login-options {
    margin-top: 20px;
    text-align: center;
  }
  
  .login-options a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #007BFF;
  }
  
  .login-options a:hover {
    text-decoration: underline;
  }
  
  input[type="text"] {
    outline: none;
  }
  
  input[type="password"] {
    outline: none;
  }
  
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
  .divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  
  .divider:not(:empty)::before {
    margin-right: .25em;
  }
  
  .divider:not(:empty)::after {
    margin-left: .25em;
  }

  .border-red {
    border: 2px solid red !important;
  }
  
  .social-login {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  /* Media query for mobile devices with max-width of 600px */
  @media (max-width: 800px) {
    .container {
      flex-direction: column; /* Stack welcome message above login form */
      height: auto;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.241);
      }
   
    .right{
      border-top-left-radius:0px ;
      border-top-right-radius:0px ;
      box-shadow: none;
    }

  }

  @media (max-width: 499px) {
    .right{
      width: 100% !important;
    }
  }