<!-- <div class="reset-password-form">
  <h2>Reset Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="currentPassword">Current Password</label>
      <input id="currentPassword" type="password" formControlName="currentPassword" />
    </div>
    <div class="p-field">
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password"  formControlName="password" />
    </div>
    <div class="p-field">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" />
    </div>
    <div class="p-field">
        <app-button [label]="'Submit'"  severity="primary" (click)="onSubmit()"></app-button>
    </div>
  </form>
</div> -->
<div class="container">
     
    <div class="right">
        <div class="login-box">
            <div class="login-title">
            <h2>Forgot Password</h2>
        </div>
            <form [formGroup]="forgotPasswordForm">
                <div class="input-box">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" formControlName="email" [ngClass]="{'border-red': isInputfieldInValid('email')}">
                </div>
                <button type="submit" (click)="onSubmit()">Submit</button>
            </form>
        </div>
    </div>
</div>

